#price-output {
  display: none;
}
img {
  height: 150px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #B44F39;
}
h1 {
  text-align: center;
}
